<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <startup>  
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />  
  </startup>  
  <appSettings>  
    <add key="usuario" value="62459"/>
    <add key="token" value="114845" />
    <add key="VR" value="1" />
    <add key="URL" value="https://ws01.nosis.com/api/variables" />
    <add key="mongoConnectionString" value="mongodb://localhost:27017" />    
  </appSettings>  
</configuration>  