<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="STR-CNN-LOYALTY" value="Data Source=DIARCOP001;Initial Catalog=DiarcoP;user id=userLoyaltyWeb; password=LoyaltyWeb2018"/>-->
    <!--<add key="STR-CNN-LOYALTY" value="Data Source=DIARCOP001-BK;Initial Catalog=DiarcoP;user id=SA; password=admin01"/>-->
    <!--<add key="STR-CNN-LOYALTY" value="Data Source=CDA-AR-TESSA-01;Initial Catalog=DiarcoMas;user id=Diarcosql; password=3QGHMLp9i6Tw"/> -->
    <add key="STR-CNN-LOYALTY" value="Data Source=CDA-AR-TESSA-01;Initial Catalog=DiarcoMas;Integrated Security=True;Max Pool Size=1000;Pooling='true';Enlist='true'" />
    <add key="ServidorSMTP" value="smtp.office365.com" />
    <add key="PuertoServidorSMTP" value="587" />
    <add key="RemitenteMail" value="no_reply@diarco.com.ar" />
    <add key="PassRemitenteMail" value="Diarco$123" />
    <add key="NombreRemitenteMail" value="Diarco+" />
    <add key="UrlValidacionMail" value="https://www.diarco.com.ar/validate.aspx?c=" />
    <add key="URLEmail" value="https://localhost:44369/api/EmailController" />
    <add key="URLPromo" value="https://localhost:44312/api/PromocionesController" />
    <add key="AsuntoEmail" value="Prueba Diarco" />
    <add key="CuerpoEMail" value="Esto es una prueba del funcionamiento del mail ya integrado" />
    <add key="isBodyHtmlEmail" value="True" />
    <add key="PromoEnable" value="True" />
    <add key="EmailEnable" value="True" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-SGM-LOYALTY-20180720091514;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-SGM-LOYALTY-20180720091514.mdf" />
    <!--<add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Server=(localdb)\\mssqllocaldb;Database=DiarcoMas;Trusted_Connection=True;MultipleActiveResultSets=true" />  -->
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="500000">
        </jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Newtonsoft.Json, Version=6.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed, processorArchitecture=MSIL" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>